<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<h1><%= title %></h1>
<p>Welcome to <%= title %>, a platform for chatting and communicating with your friends </p>


<div id = "chat"></div>
<form id = "send-message">
    <input size = "35" type = "text" id = "message"/>
    <button type = "submit">Send</button>
</form>

<script src = "/javascripts/jquery-1.9.1.min.js"></script>
<script src = "/socket.io/socket.io.js"></script>
<script src = "/javascripts/script.js"></script>
</body>
</html>
